<div class="header">
    <h1>Hacker Cracker</h1>
    <h3>Enter a password and see how it can be cracked</h3>
</div>
<div class = "input">
    <mat-form-field class="example-full-width">
        <mat-label>Enter a password</mat-label>
        <input matInput placeholder="" (keyup)="onKey($event)">
    </mat-form-field>
</div>

<div class = "output" *ngIf = value>
    <h2>{{title}}</h2>
    <h3>{{title1}}</h3>
    <h3>{{text}}</h3>
    <div class = "smiley">
        <span class="material-icons">
            sentiment_very_dissatisfied
        </span>
    </div>
</div>

