
<div class="header">
    <h1>Cracker Hacker</h1>
    <h3>Enter a password and see how it can be cracked</h3>
</div>
<div class = "input">
    <mat-form-field class="example-full-width">
        <mat-label>Enter a password</mat-label>
        <input matInput placeholder="" (keyup)="onKey($event)">
    </mat-form-field>
</div>

<div class = "output" *ngIf = value>
    
    
    <div *ngIf = "cracked.length === lengd">
        <h2>Your password was not cracked!</h2>
        <h3>The time it takes to crack it:</h3>
        <h3>{{text}}</h3>
        <div class = "smiley">
        <span class="material-icons">
            {{smiley}}
        </span>
        </div>
    </div>
    <div *ngIf = "cracked.length !== lengd">
        <h2>Your password was cracked!</h2>
        <h3>We cracked your password with {{cracked.length}} way/s</h3>
        <div *ngFor = "let crack of cracked" > 
          
            <div *ngIf = "crack.how === 'rainbow'">
                <h3>A rainbow table was used to crack your password <br/>
                The password is in the top 10.000 most used passwords list from Daniel Miessler <br/>
                Password : {{ crack.password }}</h3>
            </div>
            <div *ngIf = "crack.how === 'includes'">
                <h3>The password includes a known password from the top 10.000 most used passwords <br/>
                    Password : {{ crack.password }}
                </h3>
            </div>
            <div *ngIf = "crack.how === 'fram'">
                <h3>Known password with one character in the front from the top 10.000 most used passwords <br/>
                    Password : {{ crack.password }}
                </h3>
            </div>
            <div *ngIf = "crack.how === 'bak'">
                <h3>Known password with one character in the back from the top 10.000 most used passwords <br/>
                    Password : {{ crack.password }}
                </h3>
            </div>
            <div *ngIf = "crack.how === 'leetspeek'">
                <h3> Known password morphed to leet speek <br/>
                    The password is in the top 10.000 most used passwords list from Daniel Miessler <br/>
                    Password : {{ crack.leetpw }}</h3>
            </div>
            <div *ngIf = "crack.how === 'framLeet'">
                <h3>Known password morphed to leet speek with one character in the front from the top 10.000 most used passwords <br/>
                    Password : {{ crack.leetpw }}
                </h3>
            </div>
            <div *ngIf = "crack.how === 'bakLeet'">
                <h3>Known password morphed to leet speek with one character in the back from the top 10.000 most used passwords <br/>
                    Password : {{ crack.leetpw }}
                </h3>
            </div>
            <div *ngIf = "crack.how === 'includesLeet'">
                <h3>The password includes a known password morphed to leet speek from the top 10.000 most used passwords <br/>
                    Password : {{ crack.leetpw }}
                </h3>
            </div>
    
    </div>
    <h3>The time it takes to crack it:</h3>
    <h3>{{text}}</h3>
    <div class = "smiley">
        <span class="material-icons">
            {{smiley}}
        </span>
    </div>
    
    
    
</div>

